@charset "UTF-8";

:root {
    /*
        ADICIONAR AS CONFIGURAÇÕES DO STYLE-GUIDE.MD
        
        DEPOIS ADICIONAR NO BODY AS CONFIGURAÇÕES DE TAMANHO DE TAMANHO "FONT-SIZE"
    */
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}